# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\thomf\OneDrive\Bureau\Projets\Github\TD4MiseEnProd\basic-integration-testing-jest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
